@import "variables";
@import "mixins";
@import "reset";
html,
body {
  height: 100%;
}
body {
  background: black url("../img/bg-site.jpg") center center no-repeat;
  background-size: cover;
  color: #27333e;
  font-family: "Exo", sans-serif;
  padding-bottom: 50px;
  // lock body scroll when modal is opened
  &.modalOpen {
    overflow: hidden;
  }
}
